<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_DocumentService" messageEncoding="Mtom"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/Gecko.NCore.Host/Services/Documents/V3/DocumentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentService" contract="Documents.V3.DocumentService" name="BasicHttpBinding_DocumentService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
