<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ObjectModelService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="Transport">
                        <transport protectionLevel="EncryptAndSign"/>
                    </security>
                </binding>
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ObjectModelService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
                        <message clientCredentialType="Windows"/>
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ObjectModelService">
                    <security mode="None"/>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/ncore/services/objectmodel/v3/no/ObjectModelService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ObjectModelService" contract="ObjectModel.V3.No.ObjectModelService" name="NetNamedPipeBinding_ObjectModelService">
                <identity>
                    <userPrincipalName value="ephortesys@gecko.no"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost/ncore/services/objectmodel/v3/no/ObjectModelService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ObjectModelService" contract="ObjectModel.V3.No.ObjectModelService" name="NetTcpBinding_ObjectModelService">
                <identity>
                    <userPrincipalName value="ephortesys@gecko.no"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8888/Gecko.NCore.Host/Services/ObjectModel/V3/No/ObjectModelService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ObjectModelService" contract="ObjectModel.V3.No.ObjectModelService" name="WSHttpBinding_ObjectModelService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
