<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ObjectModelService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/Gecko.NCore.Host/Services/ObjectModel/V3/En/ObjectModelService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ObjectModelService"
                contract="ObjectModel.V3.En.ObjectModelService" name="WSHttpBinding_ObjectModelService" />
        </client>
    </system.serviceModel>
</configuration>