<services>
	<!-- New services -->
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Documents.V3.DocumentService">
		<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/documents/v3" bindingConfiguration="BasicHttpBinding_Mtom_Streamed" contract="Ephorte.ServiceModel.Contracts.Documents.V3.IDocumentService" />
		<!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/documents/v3" bindingConfiguration="BasicHttpsBinding_Mtom_Streamed" contract="Ephorte.ServiceModel.Contracts.Documents.V3.IDocumentService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ObjectModel.V2.ObjectModelService">
		<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/objectmodel/v2" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V2.IObjectModelService" />
		<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
	</service>
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ObjectModel.V3.No.ObjectModelService">
		<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/objectmodel/v3/no" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V3.No.IObjectModelService" />
		<!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/objectmodel/v3/no" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V3.No.IObjectModelService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ObjectModel.V3.En.ObjectModelService">
		<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/objectmodel/v3/en" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V3.En.IObjectModelService" />
		<!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/objectmodel/v3/en" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V3.En.IObjectModelService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ChangeTracking.V1.ChangeTrackingService">
		<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/changetracking/v1" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ChangeTracking.V1.IChangeTrackingService" />
		<!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/changetracking/v1" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.ChangeTracking.V1.IChangeTrackingService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ePhorteWebInternal.ePhorteWebInternalService">
		<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/EphorteWebInternal" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ePhorteWebInternal.IEphorteWebInternalService" />
		<!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/EphorteWebInternal" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.ePhorteWebInternal.IEphorteWebInternalService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Notification.V1.NotificationService">
		<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/notification/v1" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.Notification.V1.INotificationService" />
		<!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/notification/v1" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.Notification.V1.INotificationService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Claim.V1.ClaimService">
		<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/claim/v1" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.Claim.V1.IClaimService" />
		<!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/claim/v1" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.Claim.V1.IClaimService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.DynamicObjectModelService.V1.DynamicObjectModelService">
		<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/claim/v1" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.DynamicObjectModel.V1.IDynamicObjectModelService" />
		<!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/claim/v1" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.DynamicObjectModel.V1.IDynamicObjectModelService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
	
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Functions.V2.FunctionsService">
		<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/functions/v2" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.Functions.V2.IFunctionsService" />
		<!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/functions/v2" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.Functions.V2.IFunctionsService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>

	<!-- Old services -->
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Documents.V2.Documents">
		<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Mtom" contract="Ephorte.ServiceModel.Contracts.Documents.V2.IDocuments" />
		<!--<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding_Mtom" contract="Ephorte.ServiceModel.Contracts.Documents.V2.IDocuments" />-->
		<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Documents.V2.IDocuments" />
		<!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Documents.V2.IDocuments" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>

	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ObjectModel.V1.ObjectModelService">
		<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V1.IObjectModelService" />
		<!--<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V1.IObjectModelService" />-->
		<!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V1.IObjectModelService" />-->
		<!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V1.IObjectModelService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>

	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Metadata.V1.MetadataService">
		<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.Metadata.V1.IMetadataService" />
		<!--<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.Metadata.V1.IMetadataService" />-->
		<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Metadata.V1.IMetadataService" />
		<!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Metadata.V1.IMetadataService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>

	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Functions.V1.FunctionsService">
		<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.Functions.V1.IFunctions" />
		<!--<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.Functions.V1.IFunctions" />-->
		<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Functions.V1.IFunctions" />
		<!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Functions.V1.IFunctions" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>

	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Documents.V1.DocumentsService">
		<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom_Streamed" contract="Ephorte.ServiceModel.Contracts.Documents.V1.IDocumentsService" />
		<!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Mtom_Streamed" contract="Ephorte.ServiceModel.Contracts.Documents.V1.IDocumentsService" />-->
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>

	<!--http://forums.asp.net/t/1394322.aspx-->
	<service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Ephorte.Services.Changes">
		<endpoint address="" binding="webHttpBinding" contract="Ephorte.Services.IChanges" behaviorConfiguration="WebBehavior" >
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>

</services>