<behaviors>
 <serviceBehaviors>
  <!--<behavior name="Ephorte.ServiceModel.StreamingBehavior">
   <serviceMetadata httpGetEnabled="true" />
   <serviceDebug includeExceptionDetailInFaults="false" />
  </behavior>-->
  <behavior name="Ephorte.ServiceModel.Behavior">
   <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
   <serviceAuthorization impersonateCallerForAllOperations="false" />
   <serviceDebug includeExceptionDetailInFaults="true" />
   <wsdlExtensions />
  </behavior>
  <!--<behavior name="Ephorte.Services.ChangesBehavior">
   <serviceMetadata httpGetEnabled="true" />
   <serviceDebug includeExceptionDetailInFaults="false" />
  </behavior>-->
 </serviceBehaviors>
 
	<endpointBehaviors>
		<behavior name="WebBehavior">
			<webHttp/>
		</behavior>
    <!--<behavior name="IntellisearchEndpointBehavior">
      <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
    </behavior>-->
	</endpointBehaviors>
</behaviors>
