<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_MetadataService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_MetadataService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/Gecko.NCore.Host/Services/Metadata/V1/MetadataService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_MetadataService"
                contract="Metadata.V1.MetadataService" name="WSHttpBinding_MetadataService" />
            <endpoint address="http://localhost:8888/Gecko.NCore.Host/Services/Metadata/V1/MetadataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MetadataService"
                contract="Metadata.V1.MetadataService" name="BasicHttpBinding_MetadataService" />
          <metadata>
            <wsdlImporters>
              <extension type="WCFExtrasPlus.Wsdl.Documentation.XmlCommentsImporter, WCFExtrasPlus, Version=2.3.0.2, Culture=neutral, PublicKeyToken=f8633fc5451b43fc" />
            </wsdlImporters>
          </metadata>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
