<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_FunctionsService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V2/FunctionsService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_FunctionsService"
                contract="Functions.V2.FunctionsService" name="WSHttpBinding_FunctionsService" />
            <metadata>
                <wsdlImporters>
                    <extension type="WCFExtrasPlus.Wsdl.Documentation.XmlCommentsImporter, WCFExtrasPlus, Version=2.3.0.2, Culture=neutral, PublicKeyToken=f8633fc5451b43fc" />
                </wsdlImporters>
            </metadata>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
