<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_DocumentsService" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/Gecko.NCore.Host/Services/Documents/V1/DocumentsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentsService"
                contract="Documents.V1.DocumentsService" name="BasicHttpBinding_DocumentsService" />
            <metadata>
                <wsdlImporters>
                    <extension type="WCFExtrasPlus.Wsdl.Documentation.XmlCommentsImporter, WCFExtrasPlus" />
                </wsdlImporters>
            </metadata>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
