<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_FunctionsService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_FunctionsService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V1/FunctionsService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_FunctionsService"
                contract="Functions.V1.FunctionsService" name="WSHttpBinding_FunctionsService" />
            <endpoint address="http://localhost:8888/Gecko.NCore.Host/Services/Functions/V1/FunctionsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FunctionsService"
                contract="Functions.V1.FunctionsService" name="BasicHttpBinding_FunctionsService" />
          <metadata>
            <wsdlImporters>
              <extension type="WCFExtrasPlus.Wsdl.Documentation.XmlCommentsImporter, WCFExtrasPlus" />
            </wsdlImporters>
          </metadata>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
