<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings/>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <!-- New services -->
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Documents.V3.DocumentService">
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/documents/v3" bindingConfiguration="BasicHttpBinding_Mtom_Streamed" contract="Ephorte.ServiceModel.Contracts.Documents.V3.IDocumentService" />
        <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/documents/v3" bindingConfiguration="BasicHttpsBinding_Mtom_Streamed" contract="Ephorte.ServiceModel.Contracts.Documents.V3.IDocumentService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ObjectModel.V2.ObjectModelService">
        <endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/objectmodel/v2" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V2.IObjectModelService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ObjectModel.V3.No.ObjectModelService">
        <endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/objectmodel/v3/no" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V3.No.IObjectModelService" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/objectmodel/v3/no" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V3.No.IObjectModelService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ObjectModel.V3.En.ObjectModelService">
        <endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/objectmodel/v3/en" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V3.En.IObjectModelService" behaviorConfiguration="Ephorte.ServiceModel.EndpointBehavior" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/objectmodel/v3/en" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V3.En.IObjectModelService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ChangeTracking.V1.ChangeTrackingService">
        <endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/changetracking/v1" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ChangeTracking.V1.IChangeTrackingService" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/changetracking/v1" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.ChangeTracking.V1.IChangeTrackingService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ePhorteWebInternal.ePhorteWebInternalService">
        <endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/EphorteWebInternal" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ePhorteWebInternal.IEphorteWebInternalService" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/EphorteWebInternal" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.ePhorteWebInternal.IEphorteWebInternalService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Notification.V1.NotificationService">
        <endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/notification/v1" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.Notification.V1.INotificationService" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/notification/v1" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.Notification.V1.INotificationService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Claim.V1.ClaimService">
        <endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/claim/v1" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.Claim.V1.IClaimService" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/claim/v1" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.Claim.V1.IClaimService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.DynamicObjectModelService.V1.DynamicObjectModelService">
        <endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/claim/v1" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.DynamicObjectModel.V1.IDynamicObjectModelService" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/claim/v1" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.DynamicObjectModel.V1.IDynamicObjectModelService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Functions.V2.FunctionsService">
        <endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/functions/v2" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.Functions.V2.IFunctionsService" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingNamespace="http://www.gecko.no/ephorte/services/functions/v2" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.Functions.V2.IFunctionsService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <!-- Old services -->
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Documents.V2.Documents">
        <endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Mtom" contract="Ephorte.ServiceModel.Contracts.Documents.V2.IDocuments" />
        <!--<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding_Mtom" contract="Ephorte.ServiceModel.Contracts.Documents.V2.IDocuments" />-->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Documents.V2.IDocuments" />
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Documents.V2.IDocuments" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.ObjectModel.V1.ObjectModelService">
        <endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V1.IObjectModelService" />
        <!--<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V1.IObjectModelService" />-->
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V1.IObjectModelService" />-->
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.ObjectModel.V1.IObjectModelService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Metadata.V1.MetadataService">
        <endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.Metadata.V1.IMetadataService" />
        <!--<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.Metadata.V1.IMetadataService" />-->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Metadata.V1.IMetadataService" />
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Metadata.V1.IMetadataService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Functions.V1.FunctionsService">
        <endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="Ephorte.ServiceModel.Contracts.Functions.V1.IFunctions" />
        <!--<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding_Text" contract="Ephorte.ServiceModel.Contracts.Functions.V1.IFunctions" />-->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Functions.V1.IFunctions" />
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Text_Buffered" contract="Ephorte.ServiceModel.Contracts.Functions.V1.IFunctions" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Gecko.NCore.Host.Services.Documents.V1.DocumentsService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom_Streamed" contract="Ephorte.ServiceModel.Contracts.Documents.V1.IDocumentsService" />
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Mtom_Streamed" contract="Ephorte.ServiceModel.Contracts.Documents.V1.IDocumentsService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <!--http://forums.asp.net/t/1394322.aspx-->
      <service behaviorConfiguration="Ephorte.ServiceModel.Behavior" name="Ephorte.Services.Changes">
        <endpoint address="" binding="webHttpBinding" contract="Ephorte.Services.IChanges" behaviorConfiguration="WebBehavior" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>    
    <bindings>
      <wsHttpBinding>
        <binding name="WsHttpBinding_Mtom" closeTimeout="00:00:10" openTimeout="00:00:20" receiveTimeout="00:00:30" sendTimeout="00:00:40"
               bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
               messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="false" >
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="WsHttpsBinding_Mtom" closeTimeout="00:00:10" openTimeout="00:00:20" receiveTimeout="00:00:30" sendTimeout="00:00:40"
              bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
              messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="false" >
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="WsHttpBinding_Text" closeTimeout="00:00:10" openTimeout="00:00:20" receiveTimeout="00:00:30" sendTimeout="00:00:40"
             bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
             messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" maxReceivedMessageSize="400000000">
          <readerQuotas maxDepth="32" maxStringContentLength="5000000" maxArrayLength="163840"
            maxBytesPerRead="4096" maxNameTableCharCount="163840" />
          <security mode="None"/>
        </binding>
        <binding name="WsHttpsBinding_Text" closeTimeout="00:00:10" openTimeout="00:00:20" receiveTimeout="00:00:30" sendTimeout="00:00:40"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" maxReceivedMessageSize="400000000">
          <readerQuotas maxDepth="32" maxStringContentLength="5000000" maxArrayLength="163840"
            maxBytesPerRead="4096" maxNameTableCharCount="163840" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="WSHttpBinding_EphorteWebInternalService" closeTimeout="00:01:00"
             openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
             bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
             maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text"
             textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840"
            maxBytesPerRead="4096" maxNameTableCharCount="163840" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBindingStreamed"
            transferMode="Streamed"
            maxConnections="300"
            maxReceivedMessageSize="2147483647"
            closeTimeout="00:01:00"
            openTimeout="00:01:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:01:00">
          <readerQuotas maxDepth="32"
                  maxStringContentLength="5000000"
                  maxArrayLength="163840"
                  maxBytesPerRead="4096"
                  maxNameTableCharCount="163840" />
        </binding>
        <binding name="NetNamedPipeBindingBuffered"
            transferMode="Buffered"
            maxConnections="300"
            maxBufferSize="2147483647"
            maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647"
            closeTimeout="00:01:00"
            openTimeout="00:01:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:01:00">
          <readerQuotas maxDepth="32"
                  maxStringContentLength="5000000"
                  maxArrayLength="163840"
                  maxBytesPerRead="4096"
                  maxNameTableCharCount="163840" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="TcpBindingStreamed"
            transferMode="Streamed"
            listenBacklog="3000"
            maxConnections="3000"
            maxBufferSize="100000"
            maxReceivedMessageSize="2147483647"
            closeTimeout="00:01:00"
            openTimeout="00:01:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:01:00">
          <readerQuotas maxDepth="32"
                  maxStringContentLength="5000000"
                  maxArrayLength="163840"
                  maxBytesPerRead="4096"
                  maxNameTableCharCount="163840" />
        </binding>
        <binding name="TcpBindingBuffered"
            transferMode="Buffered"
            listenBacklog="3000"
            maxConnections="3000"
            maxBufferSize="2147483647"
            maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647"
            closeTimeout="00:01:00"
            openTimeout="00:01:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:01:00">
          <readerQuotas maxDepth="32"
                  maxStringContentLength="5000000"
                  maxArrayLength="163840"
                  maxBytesPerRead="4096"
                  maxNameTableCharCount="163840" />
        </binding>
        <binding name="Tcp"
             closeTimeout="00:01:00"
             openTimeout="00:01:00"
             receiveTimeout="00:10:00"
             sendTimeout="00:01:00"
             transactionFlow="false"
             transferMode="Buffered"
             transactionProtocol="OleTransactions"
             hostNameComparisonMode="StrongWildcard"
             listenBacklog="10" maxBufferPoolSize="524288"
               maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647 ">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="163840"
              maxBytesPerRead="4096" maxNameTableCharCount="163840" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="Tcp2" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
            transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="6553600" maxConnections="10"
            maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840"
                maxBytesPerRead="4096" maxNameTableCharCount="163840" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
                enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Text_Buffered" closeTimeout="00:11:00"
          openTimeout="00:12:00" receiveTimeout="00:13:00" sendTimeout="00:14:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840"
            maxBytesPerRead="4096" maxNameTableCharCount="163840" />
        </binding>
        <binding name="BasicHttpsBinding_Text_Buffered" closeTimeout="00:11:00"
          openTimeout="00:12:00" receiveTimeout="00:13:00" sendTimeout="00:14:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840"
            maxBytesPerRead="4096" maxNameTableCharCount="163840" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Mtom_Streamed"
           closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
           transferMode="Streamed" messageEncoding="Mtom"
           maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None">
          </security>
        </binding>
        <binding name="BasicHttpsBinding_Mtom_Streamed"
       closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
       transferMode="Streamed" messageEncoding="Mtom"
       maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="config"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Ephorte.ServiceModel.Behavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceAuthorization impersonateCallerForAllOperations="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
        <behavior name="Ephorte.ServiceModel.EndpointBehavior">
          <wsdlExtensions />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="wsdlExtensions" type="WCFExtrasPlus.Wsdl.WsdlExtensionsConfig, WCFExtrasPlus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>